/* ==================================================
   #COLOR
   ================================================== */

.u-c-turquoise {
  color: $color--turquoise;
}

.u-c-green {
  color: $color--green;
}

.u-c-red {
  color: $color--red;
}
