/* ==================================================
   #CONTENT-WRAPPER
   ================================================== */

.u-contentWrapper {
  margin: 0 auto 50px;
  max-width: 960px;

  &--contact {
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  &--about {
    max-width: 680px;
		padding-bottom: 50px;

    @include tablet {
      max-width: 500px;
    }
	}

  @include tablet {
    padding: 0 10px;
  }

  @include mobile {
    p {
        margin-bottom: 18px;
    }
  }
}
