/* ==================================================
   #CONTENT-WRAPPER
   ================================================== */

.u-contentWrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 680px;

  &--contact {
    max-width: 600px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  &--about {
		padding-bottom: 50px;
		text-align: justify;
	}

  @include mobile {
    p {
        margin-bottom: 18px;
    }
  }
}
