.single {
	position: relative;
	top:0;
	z-index: 10000;
	width: 100%;
	height: auto;
	background-color: #fff;

	&__close {
		display: block;
	 	width: 40px;
		height: 40px;
		position: fixed;
		top:10px;
		right:30px;
		cursor: pointer;
		transform:rotate(45deg);

		&:before,
		&:after {
			content: "";
			position: absolute;
			z-index: -1;
			background: #000;
			cursor: pointer;
			transition:all .3s ease;
		}

		&:before {
			left: 50%;
			width: 2px;
			height: 100%;
		}

		&:after {
			top: 50%;
			height: 2px;
			width: 100%;
		}

		&:hover:before,
		&:hover:after{
			background-color: $color--turquoise;
		}
	}

	&__link {
		position: fixed;
		max-width: 20%;
		display: block;
		top: calc(50% - 10px);

		&:hover .single__arrow{
			transition: all 0.2s linear;
		}

		&:hover .single__legend-arrow{
			transition: all 0.4s ease 0.2s;
			opacity:1;
			top:0;
		}

		&--prev {
			padding-left: 20px;
			margin-left: 20px;

			.single__arrow {
			 float: left;
			 left: 40px;
			}

			.single__legend-arrow{
				left: 40px;
			}

			&:hover .single__arrow {
				left:0;
			}

		}

		&--next {
			margin-right: 20px;
			padding-right: 36px;
			right: 0;

			.single__arrow {
				float: right;
				right: 40px;
			}

			.single__legend-arrow{
				right: 40px;
				text-align: right;
			}

			&:hover .single__arrow {
				right: 0;
			}
		}
	}

	&__legend-mobile {
		display: none;
	}

	&__arrow {
		top: 10px;
		z-index: 9996;
	}

	&__legend-arrow {
		display: inline-block;
		width: 150px;
		position: absolute;
		margin-bottom: 0;
		z-index: 9995;
		opacity: 0;
		top: 15px;
		cursor: pointer;
		font-size: 0.98em;
		transition: all 0.3s ease;
	}

	&__link-label {
		font-size: 1.1em;
		font-weight: 600;
		color: $color--turquoise;
	}

	&__intro {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		padding: 50px 20px 0;
	}

	&__title {
    display: block;
    width: 100%;
		text-align: center;
		font-size: 2em;
		margin-top: 20px;
		padding: 0;
		text-transform: initial;
		color: $color--turquoise;
	}

	&__url {
		text-align: center;
		margin-top: 4px;
	}

	&__icon {
		margin-left: 6px;
	}

	&__info {
		display: block;
		text-align: center;
		font-weight: 600;
		margin: 0 auto;

		&:first-of-type {
			margin-top: 40px;
		}
	}

	&__presentation {
		max-width: 570px;
		margin: 50px auto 0;
		font-size: .95em;
	}

	&__scroll {
		width: 164px;
		position: relative;
		margin-bottom: 120px;
	}

	&__pictures {
		margin: 0 auto 30px;
		padding-top: 30px;
	}
}

@include tablet {
 	.single {
		&__close {
  		width: 50px;
  		height: 50px;
  		display: inline-block;
  		position: absolute;
  		left: calc(50% - 25px);
  		right: initial;
  	}

		&__link {
			top: 16px;
			display: inline-block;
			width: calc(50% - 25px);
			position: absolute;

			&--prev {
				margin-left: 15px;

				.single__arrow {
					left: 0;
				}

				.single__legend-mobile {
					margin-left: 15px;
					width: 70px;
		   	}
			}

			&--next {
				margin-right: 15px;
				padding-right: 0;
		    right: 0;
		    text-align: right;

				.single__arrow {
					right: 0;
					position: absolute;
				}

				.single__legend-mobile {
		   		text-align: right;
		      padding-right: 0;
		  		width: 50px;
					position: absolute;
    			right: 36px;
		   	}
			}
		}

		&__legend-arrow {
			display: none;
		}

		&__presentation {
			line-height: 1.3;
		}

		&__legend-mobile {
		 	display: inline-block;
		 	top: 3px;
		 	position: relative;
		}

		&__intro {
			width: 100%;
		}

		&__title {
			margin-top: 60px;
		}

		&__scroll {
			margin-bottom: 90px;
		}
	}
}

@media all and (max-width: 515px) {
 	.single__legend-mobile{
 		top:2px;
 	}
}

@include mobile {
	.single {
		&__information{
  		min-height: 0;
  	}

		&__presentation {
			margin-top: 30px;
			font-size: 1em;
		}
	}
}

@include mobile-small {
	.single__legend-mobile {
    display: none;
  }

}
