.picture {
  margin-bottom: 60px;

  &__title {
    margin-bottom: 10px;
    font-style: italic;
    font-size: 0.9em;
  }

  &__src {
    display: block;
    margin: 0 auto;
    box-shadow: 4px 2px 6px #ccc;
    max-width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include tablet {

  .picture {
    &__title {
      text-align: center;
    }
  }
}

@include mobile {

  .picture {
    margin-bottom: 40px;

    &__title {
      margin-bottom: 10px;
    }
  }
}
