.arrow {
	background-image:url(../img/arrows.png);
	display: block;
	cursor: pointer;
	position: absolute;
	width: 19px;
	height: 26px;
	margin: 0 auto;

	&--down {
		background-position: 19px 0;
		left: calc(50% - 12px);

		.go-to:hover & {
			animation: arrowDownBouncing .7s linear infinite;
		}
	}

	&--animated,
	&--down:hover {
		animation: arrowDownBouncing .7s linear infinite;
	}

	&--left,
	&--right {
		display: inline-block;
		width:26px;
		height:19px;
		transition: all 0.2s ease 0.3s;
	}

	&--left {
		background-position: 0 38px;
	}

	&--right {
		background-position: 0 19px;
	}

	&--up {
		display: block;
		width:19px;
		height:26px;
		background-position: 0 0;
		left: calc(50% - 9px);

		.go-to:hover & {
			animation: arrowUpBouncing .7s linear infinite;
		}
	}
}

@keyframes arrowDownBouncing {
		from{
				margin-top: 0;
				opacity: 1;
		}

		to{
				margin-top: 10px;
				opacity: 0;
		}
}

@keyframes arrowUpBouncing{
  from{
     top:10px;
      opacity: 1;
  }

  to{
      top:0px;
      opacity: 0;
  }
}
