.go-to  {
  margin: 40px auto 0;
  display: block;
  width: 140px;
  cursor: pointer;
  text-align: center;
  height: 80px;

  &__legend {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.05em;
  }

  @include mobile {
  	margin-top: 40px;
  }

  @include mobile-small {
 		margin-top: 50px;
 		font-size: 1.2em;
  }
}

.go-to--up {
	position: relative;

  .go-to__legend {
    position: absolute;
    left: calc(50% - 35px);
    top:50px;
  }

  .go-to__arrow {
  	top: 10px;
  }

  @include mobile-small {
    margin-top: 30px;
  }
}
