// --- Colors ---------------------------------------------

$color--turquoise: #66cc99;
$color--green-dark: #2e8b57;
$color--green: #0ea50e;
$color--grey: #aaaaaa;
$color--red: #b42024;
$color--twitter: #4099ff;
$color--linkedin: #0775b7;
